/* 全体設定 */
body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #fafafa;
}

/* h1タイトル */
h1 {
    text-align: center;
    color: #007ACC;
    margin-bottom: 40px;
}

/* 問1：文字の大きさ */
.font-size p {
    <!-- ここに記載 -->
font-size : 40px;
}

/* 問2：文字の種類 */
.font-family p {
    <!-- ここに記載 -->
    font-family: selif;
}

/* 問3：背景色 */
.background-color p {
    <!-- ここに記載 -->
    background-color: #ffff00;
    
}

/* 問4：幅・高さ */
.size p {
    <!-- ここに記載 -->
    width: 400px;
     height: 100px;
}

/* 問5：その他プロパティ */
.other-properties .box {
    <!-- ここに記載 -->
    margin: 20px;
    padding: ;15px
    box-sizing: border-box; 2px
}