/* 全体の初期設定 */
body {
  font-family: "メイリオ", sans-serif;
  margin: 40px;
  background-color: #f5f5f5;
}

/* 共通ボックス */
.box {
  width: 200px;
  height: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-weight: bold;
  border: 2px solid #000;
}

/* 問1：marginプロパティ */
.box-margin {
  margin: 0 20px 40px 60px;
  background-color: #00bfff;
}

/* 問2：paddingプロパティ */
.box-padding {
  padding: 20px 40px 60px 80px;
  width: 300px;
  height: auto;
  background-color: #90ee90;
}

/* flexで使う共通設定 */
.flex-box {
  width: 80px;
  height: 80px;
  background-color: #bde0fe;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* 問3：flexの活用1 */
.flex-horizontal {
   margin-bottom: 40px;
   justify-content: center;
   align-items: center;
   display: flex;
}

/* 問4：flexの活用2 */
.flex-vertical {
   margin-bottom: 40px;
   justify-content: center;
   align-items: center;
}

/* 問5：gapの活用 */
.flex-gap {
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 20px;
}

* 問6：総合問題 *
   .three-column {
   margin-bottom: 40px;
   display: flex;
   gap: 10px;
   justify-content: center;
   align-items: center;
  }

  .menu {
   width: 15%;
   padding: 20px;
   background-color: #f4a261;
  }
  .main {
   width: 50%;
   padding: 20px;
   background-color: #2a9d8f;
  }
.side {
  width: 35%;
  padding: 20px;
  background-color: #e9c46a;
}

 